#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  main {
    margin: 0 auto;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;

    > img {
      align-self: center;
      width: 100%;
      max-width: 300px;
    }

    form {
      input {
        height: 50px;
        border-radius: 8px;
        padding: 0 16px;
        background: var(--white);
        border: 1px solid var(--gray);
      }

      button,
      input {
        width: 100%;
        margin-top: 16px;
      }

      .login-error {
        color: #ff8080;
      }
    }
  }

  .separator {
    font-size: 14px;
    color: var(--gray);

    margin: 32px 0;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      flex: 1;
      height: 1px;
      background: var(--gray);
      margin-right: 16px;
    }

    &::after {
      content: "";
      flex: 1;
      height: 1px;
      background: var(--gray);
      margin-left: 16px;
    }
  }
}
