@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@400;600&display=swap');


:root {
  --header-height: 3rem;
  --hue: 174;
  --sat: 63%;
  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #FFF;
  --primary: #5bb4e5;
  --background: #f1f1f1;
  --secondary: #1d1b31;
  --third: #11101d;
  --gray: #a8a8b3;
  --white: #FFFFFF;
  --skin-blue: #b8c7ce;
  --whitesmoke: #f5f5f5;

  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 2.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;


  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 3.25rem;
    --normal-font-size: 1rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // color: var(--secondary);
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--whitesmoke);
  color: var(--text-color);
}


html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  margin: 80px auto 0px;
  padding: 0 12px;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  left: 0;
}

.section {
  padding: 0.5rem 0 2rem;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 300;
  line-height: 58px;
}

.section__height {
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 930px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.button {
  margin-top: 50px !important;
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background: var(--primary);
  color: var(--white);
  padding: 0 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;
  transition: filter 0.2s;

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }

  .section {
    padding: 0.5rem 0 2rem;
  }

  main {
    padding: 0 32px;
  }
}