* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // color: var(--secondary);
}

html,
body,
#root {
  max-height: 100vh;
  max-width: 100vw;

  height: 100%;
  width: 100%;
}

body,
button,
input,
textarea {
  font: 400 16px 'Roboto', sans-serif;
}

html {
  background: var(--background);
}

.button {
  margin-top: 50px !important;
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background: var(--primary);
  color: var(--white);
  padding: 0 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;
  transition: filter 0.2s;

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

main {
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
}

@media only screen and (max-width : 600px) {
  main {
    width: calc(100% - 50px);
    left: 50px;
  }
}


:root {
  --primary: #5bb4e5;
  --background: #f1f1f1;
  --secondary: #1d1b31;
  --third: #11101d;
  --gray: #a8a8b3;
  --white: #FFFFFF;
  --skin-blue: #b8c7ce;
  --whitesmoke: #f5f5f5
}