table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);

  tr,
  td,
  th {
    padding: 10px;
  }

  #navHeader {
    background-color: var(--primary);
    color: var(--white);
    font-weight: 600;

    &:hover {
      transform: scale(1);
    }
  }

  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: var(--white);
    transition: all 0.2s ease-in;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    td {
      font-size: var(--normal-font-size);
      overflow: hidden;
      text-overflow: ellipsis;

      &:last-child {
        text-align: end;
      }
    }

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: #f5f5f5;
      transform: scale(1.02);
      box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2),
        -1px -1px 8px rgba(0, 0, 0, 0.2);
    }
  }
}

@media screen and (max-width: 500px) {
  table {
    tr,
    td,
    th {
      padding: 5px;
    }

    tr td {
      font-size: var(--tiny-font-size);
    }
  }
}
