.header {
  padding: 0 32px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  z-index: var(--z-fixed);
  transition: 0.4s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img.logo_name {
  width: 160px;
}

@media screen and (max-width: 767px) {
  .header {
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
  }

  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: 0.4s;
  }
}

.nav__list,
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 0.25rem;
  color: var(--title-color);
  font-weight: 600;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: var(--tiny-font-size);
}

.nav__icon {
  font-size: 1.5rem;
}

.active-link {
  position: relative;
  color: var(--primary);
  transition: 0.3s;
}

.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  width: 4px;
  height: 4px;
  background-color: var(--primary);
  border-radius: 50%;
}

// =============== MEDIA QUERIES ===============
//  For small devices
@media screen and (max-width: 320px) {
  .nav__name {
    display: none;
  }
}

//  For medium devices
@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }

  .section {
    padding: 7rem 0 2rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__img {
    display: none;
  }

  .nav__icon {
    display: none;
  }

  .nav__name {
    font-size: var(--normal-font-size);
  }

  .nav__link:hover {
    color: var(--primary);
  }
}

// For large devices
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}
