.details {
  position: relative;
  width: 100%;
  padding: 3px;
  display: flex;
  margin-top: 10px;

  .recentOrders {
    position: relative;
    display: flex;
    min-height: 200px;
    background: var(--white);
    padding: 2px;
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    border-radius: 20px;
  }

  .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}