.sidebar__document {
  flex: 0.3;
  max-width: 300px;
  padding-right: 20px;
}

.sidebar__compose {
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: gray;
  padding: 15px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);

  svg.material-icons {
    margin-right: 5px;
  }
}

.sidebarOption {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  color: #818181;

  svg.material-icons {
    padding: 5px;
  }

  h3 {
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
  }
}

.sidebarOption:hover,
.sidebarOption:hover h3,
.sidebarOption:hover svg.material-icons,
.sidebarOption__active,
.sidebarOption__active,
.sidebarOption__active h3,
.sidebarOption__active svg.material-icons {
  background-color: #fcecec;
  color: var(--primary);
  font-weight: 800;
}

.main__body {
  display: flex;
  height: 100vh;
  background-color: var(--white);

  svg {
    font-size: 18px;
  }
}

body {
  display: flex;
  overflow-y: hidden;
}

.emailList {
  flex: 1;
  overflow: scroll;

  .emailList__settings {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f5f5f5;
    background-color: var(--white);
    z-index: 999;
    padding: 8px;

    svg {
      margin: 5px;
      cursor: pointer;
    }
  }

  .emailList__settingsLeft {
    display: flex;
    align-items: center;
  }

  svg {
    color: #818181;
  }

  .section {
    align-items: center;
    display: flex;
    border-bottom-width: 2px;
    padding: 15px;
    min-width: 200px;
    cursor: pointer;
    color: gray;
    border-width: 0;

    h4 {
      font-size: 14px;
      margin-left: 15px;
    }
  }

  .emailList__sections {
    position: sticky;
    top: 0;
    display: flex;
    background-color: var(--white);
    border-bottom: 1px solid #f5f5f5;
    z-index: 999;
  }

  .section_selected {
    background-color: #f5f5f5;
    border-width: 3px;
    color: var(--primary);
    border-bottom: 3px solid var(--primary);

    svg {
      color: var(--primary)
    }
  }

  .section:hover {
    background-color: #f5f5f5;
    border-width: 3px;
  }
}