.sidebar__document {
  flex: 0.3;
  max-width: 300px;
  padding-right: 20px;
  display: block;
}

.sidebar__compose {
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: gray;
  padding: 15px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);

  svg.material-icons {
    margin-right: 5px;
  }
}

.sidebarOption {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  color: #818181;

  svg.material-icons {
    padding: 5px;
  }

  h3 {
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
  }
}

.sidebarOption:hover,
.sidebarOption:hover h3,
.sidebarOption:hover svg.material-icons,
.sidebarOption__active,
.sidebarOption__active,
.sidebarOption__active h3,
.sidebarOption__active svg.material-icons {
  background-color: var(--whitesmoke);
  color: var(--primary);
  font-weight: 800;
}

.main__body {
  display: flex;
  height: 100vh;
  background-color: var(--white);

  svg {
    font-size: 18px;
  }
}

body {
  display: flex;
  overflow-y: hidden;
}

.emailList {
  flex: 1;
  overflow: scroll;

  .emailList__settings {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--whitesmoke);
    background-color: var(--white);

    padding: 8px;

    svg {
      margin: 5px;
      cursor: pointer;
    }
  }

  .emailList__settingsLeft {
    display: flex;
    align-items: center;
  }

  .dropdown {
    .dropdown__button {
      background-color: var(--white);
      border: none;
      cursor: pointer;
      transition: all 0.5s ease;

      &:hover {
        background-color: var(--whitesmoke);
        border-radius: 30px;
      }
    }

    .dropdown__menu {
      border: 1px solid var(--whitesmoke);
      width: 200px;
      position: fixed;
      background-color: var(--white);
      border-radius: 10px;

      a {
        display: block;
        padding: 4px 10px;
        font-size: 15px;
        text-decoration: none;
        color: #666;

        &:hover {
          background: #eee;
        }
      }
    }

    .hide {
      display: none;
    }
  }

  svg {
    color: #818181;
  }

  .section {
    align-items: center;
    display: flex;
    border-bottom-width: 2px;
    padding: 15px;
    min-width: 200px;
    cursor: pointer;
    color: gray;
    border-width: 0;

    h4 {
      font-size: 14px;
      margin-left: 15px;
    }
  }

  .emailList__sections {
    position: sticky;
    top: 0;
    display: flex;
    background-color: var(--white);
    border-bottom: 1px solid var(--whitesmoke);
    // z-index: 999;
  }

  .section_selected {
    background-color: var(--whitesmoke);
    border-width: 3px;
    color: var(--primary);
    border-bottom: 3px solid var(--primary);

    svg {
      color: var(--primary)
    }
  }

  .section:hover {
    background-color: var(--whitesmoke);
    border-width: 3px;
  }
}

.emailRow {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid var(--whitesmoke);
  cursor: pointer;
  z-index: 999;

  &:hover {
    border-top: 1px solid var(--whitesmoke);
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.24);
  }

  .emailRow__options {
    display: flex;
    align-items: center;

    svg,
    input {
      margin: 5px;
    }
  }

  .emailRow__message {
    display: flex;
    flex: 0.8;
    align-items: center;
    font-size: 13px;

    h4 {
      width: 400px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 5px;
      padding-right: 5px;

      font-size: 14px;

      max-width: 70%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .emailRow__title {
    font-size: 13px;
    flex: 0.3;
  }

  .emailRow__time {
    padding-right: 15px;
    font-size: 10px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 600px) {
  .sidebar__document {
    display: none;
  }
}