.pageNotFound {
  min-height: 100vh;
  background-image: linear-gradient(125deg, var(--primary), #b8e994);
}

.container {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #343434;

  h1 {
    font-size: 160px;
    font-weight: 900;
    letter-spacing: 20px;
  }

  a {
    text-decoration: none;
    color: #343434;
  }
}